name: Docker Batch Sync

on:
  workflow_dispatch:
    inputs:
      image_list:
        description: '镜像列表 (用逗号隔开，如 elasticsearch:7.4.2,redis:6.0)'
        required: true
        default: 'elasticsearch:7.4.2'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun
        run: echo "${{ secrets.ALIYUN_PASSWORD }}" | docker login --username=${{ secrets.ALIYUN_USERNAME }} --password-stdin ${{ secrets.ALIYUN_REGISTRY }}

      - name: Batch Pull and Push
        run: |
          # 将输入的列表按逗号拆分并循环
          IFS=',' read -ra ADDR <<< "${{ github.event.inputs.image_list }}"
          for i in "${ADDR[@]}"; do
            # 这里的 i 就是 elasticsearch:7.4.2
            TARGET_IMAGE="${{ secrets.ALIYUN_REGISTRY }}/clannadxi/$i"
            
            echo "正在搬运: $i -> $TARGET_IMAGE"
            docker pull $i
            docker tag $i $TARGET_IMAGE
            docker push $TARGET_IMAGE
          done