name: Docker Image Sync

on:
  workflow_dispatch:
    inputs:
      image_name:
        description: '源镜像名 (例如 elasticsearch)'
        required: true
        default: 'elasticsearch'
      image_tag:
        description: '镜像版本号 (例如 7.4.2)'
        required: true
        default: '7.4.2'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun Registry
        run: |
          echo "${{ secrets.ALIYUN_PASSWORD }}" | docker login --username=${{ secrets.ALIYUN_USERNAME }} --password-stdin ${{ secrets.ALIYUN_REGISTRY }}

     - name: Pull, Tag and Push
        run: |
          # 打印调试信息（放心，Secrets 里的敏感部分会被 GitHub 自动打码 ***）
          echo "正在尝试推送到这个地址: ${{ secrets.ALIYUN_REGISTRY }}/clannadxi/${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }}"
          
          SOURCE_IMAGE="${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }}"
          TARGET_IMAGE="${{ secrets.ALIYUN_REGISTRY }}/clannadxi/${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }}"
          
          docker pull $SOURCE_IMAGE
          docker tag $SOURCE_IMAGE $TARGET_IMAGE
          docker push $TARGET_IMAGE