name: Docker Image Sync

on:
  workflow_dispatch:
    inputs:
      image_name:
        description: '源镜像名 (例如 elasticsearch)'
        required: true
        default: 'elasticsearch'
      image_tag:
        description: '镜像版本号 (例如 7.4.2)'
        required: true
        default: '7.4.2'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun Registry
        run: |
          echo "${{ secrets.ALIYUN_PASSWORD }}" | docker login --username=${{ secrets.ALIYUN_USERNAME }} --password-stdin ${{ secrets.ALIYUN_REGISTRY }}

      - name: Pull, Tag and Push
        run: |
          # 1. 显式定义变量，排除变量引用错误
          # 我们暂时不用 secrets.ALIYUN_REGISTRY，直接写死域名测试
          REGISTRY_DOMAIN="crpi-9q2wik9pdaw00xfg.cn-shenzhen.personal.cr.aliyuncs.com"
          NAMESPACE="clannadxi"
          REPO_NAME="${{ github.event.inputs.image_name }}"
          TAG="${{ github.event.inputs.image_tag }}"
          
          SOURCE_IMAGE="$REPO_NAME:$TAG"
          TARGET_IMAGE="$REGISTRY_DOMAIN/$NAMESPACE/$REPO_NAME:$TAG"
          
          echo "DEBUG: 目标全路径是 -> $TARGET_IMAGE"
          
          # 2. 执行操作
          docker pull $SOURCE_IMAGE
          docker tag $SOURCE_IMAGE $TARGET_IMAGE
          
          echo "正在执行推送..."
          docker push $TARGET_IMAGE