name: Docker Image Sync Final

on:
  workflow_dispatch:
    inputs:
      image_name:
        description: '镜像名'
        required: true
        default: 'elasticsearch'
      image_tag:
        description: '版本号'
        required: true
        default: '7.4.2'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login
        run: |
          echo "${{ secrets.ALIYUN_PASSWORD }}" | docker login --username=${{ secrets.ALIYUN_USERNAME }} --password-stdin ${{ secrets.ALIYUN_REGISTRY }}

      - name: Push
        run: |
          # 只要你的 REGISTRY 只是域名，这里的拼接就是完美的
          TARGET="${{ secrets.ALIYUN_REGISTRY }}/clannadxi/${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }}"
          docker pull ${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }}
          docker tag ${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }} $TARGET
          docker push $TARGET