name: Docker Image Sync

on:
  workflow_dispatch:
    inputs:
      image_name:
        description: '源镜像名'
        required: true
        default: 'elasticsearch'
      image_tag:
        description: '镜像版本号'
        required: true
        default: '7.4.2'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun Registry
        run: |
          echo "${{ secrets.ALIYUN_PASSWORD }}" | docker login --username=${{ secrets.ALIYUN_USERNAME }} --password-stdin ${{ secrets.ALIYUN_REGISTRY }}

      - name: Pull, Tag and Push
        run: |
          SOURCE_IMAGE="${{ github.event.inputs.image_name }}:${{ github.event.inputs.image_tag }}"
          
          # 【核心修改点】这里把仓库名写死为 tingxi
          TARGET_IMAGE="${{ secrets.ALIYUN_REGISTRY }}/clannadxi/tingxi:${{ github.event.inputs.image_tag }}"
          
          echo "正在拉取: $SOURCE_IMAGE"
          docker pull $SOURCE_IMAGE
          
          echo "正在打标签为: $TARGET_IMAGE"
          docker tag $SOURCE_IMAGE $TARGET_IMAGE
          
          echo "正在推送到阿里云..."
          docker push $TARGET_IMAGE
          
          echo "✅ 同步成功！本地拉取命令：docker pull $TARGET_IMAGE"