name: Docker Image Sync

on:
  workflow_dispatch:
    inputs:
      image_tag:
        description: '版本号'
        required: true
        default: '7.4.2'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Login to Aliyun
        run: |
          # 验证地址是否包含 http (不应该包含)
          echo "Registry is: ${{ secrets.ALIYUN_REGISTRY }}"
          echo "${{ secrets.ALIYUN_PASSWORD }}" | docker login --username=${{ secrets.ALIYUN_USERNAME }} --password-stdin ${{ secrets.ALIYUN_REGISTRY }}

      - name: Pull and Push
        run: |
          # 定义全路径地址
          TARGET_ADDR="${{ secrets.ALIYUN_REGISTRY }}/clannadxi/tingxi:${{ github.event.inputs.image_tag }}"
          echo "Full Target Path: $TARGET_ADDR"
          
          docker pull elasticsearch:${{ github.event.inputs.image_tag }}
          docker tag elasticsearch:${{ github.event.inputs.image_tag }} $TARGET_ADDR
          docker push $TARGET_ADDR